absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
anyio==3.6.2
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
Babel==2.12.1
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.10.0
BitVector==3.5.0
black==23.3.0
bleach==6.0.0
blinker==1.4
boto3==1.28.30
botocore==1.31.30
Brlapi==0.8.3
cachetools==5.3.0
capstone==5.0.0.post1
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==3.1.0
chrome-gnome-shell==0.0.0
click==8.0.3
cmake==3.26.3
colorama==0.4.4
colored-traceback==0.3.0
comm==0.1.3
command-not-found==0.3
contourpy==1.0.7
crypto==1.4.1
cryptography==3.4.8
cupshelpers==1.0
curio==1.6
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.7
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.1
docrepr==0.2.0
docutils==0.18.1
entrypoints==0.4
exceptiongroup==1.1.1
executing==1.2.0
fastjsonschema==2.16.3
ffmpeg-python==0.2.0
filelock==3.12.0
flatbuffers==23.3.3
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
future==0.18.3
gast==0.4.0
google-api-core==2.11.1
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
greenlet==1.1.2
grpcio==1.54.0
h11==0.14.0
h5py==3.8.0
html5lib==1.1
httplib2==0.20.2
identify==2.5.24
idna==3.4
imagesize==1.4.1
importlib-metadata==4.6.4
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.22.0
ipyparallel==8.6.1
ipython==8.12.0
ipython_genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
jax==0.4.8
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keras==2.12.0
keyring==23.5.0
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Levenshtein==0.21.1
libclang==16.0.0
lit==16.0.2
llvmlite==0.39.1
louis==3.20.0
lxml==4.8.0
macaroonbakery==1.3.1
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.5
ml-dtypes==0.1.0
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.4
mypy==1.3.0
mypy-extensions==1.0.0
Naked==0.1.32
nbclassic==0.5.6
nbclient==0.7.4
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
nodeenv==1.8.0
notebook==6.5.4
notebook_shim==0.2.3
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
olefile==0.46
openai==0.27.8
openai-whisper==20230314
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.0
pandas==2.0.1
pandocfilters==1.5.0
paramiko==3.3.1
parso==0.8.3
pathspec==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==3.7.0
pluggy==1.2.0
plumbum==1.8.2
pre-commit==3.3.3
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.22.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pwn==1.0
pwntools==4.10.0
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.20.1
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.18.0
pycups==2.0.1
pyelftools==0.29
Pygments==2.16.1
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pynvim==0.4.3
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.19.3
pyserial==3.5
PySocks==1.7.1
pytest==7.3.1
pytest-asyncio==0.20.3
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-json-logger==2.0.7
python-Levenshtein==0.21.1
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.0.2
qtconsole==5.4.2
QtPy==2.3.1
ranger-fm==1.9.3
rapidfuzz==3.2.0
regex==2023.3.23
reportlab==3.6.8
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
ROPGadget==7.3
rpyc==5.3.1
rsa==4.9
ruff==0.0.272
s3transfer==0.6.2
scipy==1.10.1
screen-resolution-extra==0.0.0
seaborn==0.12.2
secret==0.8
SecretStorage==3.3.1
selenium==4.8.3
semantic-version==2.10.0
Send2Trash==1.8.2
setuptools-rust==1.6.0
shellescape==3.8.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.1
sox==1.4.1
Sphinx==7.2.5
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
ssh-import-id==5.11
stack-data==0.6.2
sympy==1.11.1
systemd-python==234
tabulate==0.9.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.17.1
testpath==0.6.0
tiktoken==0.3.1
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
torch==2.0.0
torchaudio==2.0.1
tornado==6.3.1
tqdm==4.65.0
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.2
triton==2.0.0
typer==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
unicorn==2.0.1.post1
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.15
virtualenv==20.23.1
wadllib==1.3.6
wcwidth==0.2.6
webcolors==1.13
webdriver-manager==3.8.5
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.2
wget==3.2
widgetsnbextension==4.0.7
wrapt==1.14.1
wsproto==1.2.0
xdg==5
xkit==0.0.0
yarl==1.9.2
zipp==1.0.0
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.12.0
antlr4-python3-runtime==4.9.3
anyio==4.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.3.0
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
bnunicodenormalizer==0.1.6
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cmaes==0.10.0
cmake==3.27.2
colorlog==6.7.0
comm==0.1.4
contourpy==1.1.0
ctcdecode @ file:///home/sourove/Code/Python/torch/deepspeech.pytorch/ctcdecode
cycler==0.11.0
debugpy==1.6.7.post1
decorator==5.1.1
-e git+https://github.com/SeanNaren/deepspeech.pytorch.git@b88a631ef6b96553e16bbaa5bd6a621435bed278#egg=deepspeech_pytorch
defusedxml==0.7.1
dnspython==2.4.2
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.0
filelock==3.12.3
Flask==2.3.3
fonttools==4.42.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.9.0
greenlet==2.0.2
hydra-configs-pytorch-lightning @ git+https://github.com/romesco/hydra-lightning/@d208362f55534b7bc6c3f696dc1ea4e863006261#subdirectory=hydra-configs-pytorch-lightning
hydra-core==1.3.2
idna==3.4
iniconfig==2.0.0
ipykernel==6.25.1
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
kiwisolver==1.4.5
lazy_loader==0.3
Levenshtein==0.21.1
librosa==0.10.1
lightning-utilities==0.9.0
lit==16.0.6
llvmlite==0.40.1
lxml==4.9.3
Mako==1.2.4
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mistune==3.0.1
mplcursors==0.5.2
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nest-asyncio==1.5.7
networkx==3.1
notebook==7.0.3
notebook_shim==0.2.3
numba==0.57.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
omegaconf==2.3.0
optuna==3.3.0
overrides==7.4.0
packaging==23.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
pluggy==1.3.0
pooch==1.7.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.16.1
pyparsing==3.0.9
pytest==7.4.0
python-dateutil==2.8.2
python-etcd==0.4.5
python-json-logger==2.0.7
python-Levenshtein==0.21.1
pytorch-lightning==2.0.8
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.0
rapidfuzz==3.2.0
referencing==0.30.2
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.10.0
scikit-learn==1.3.0
scipy==1.11.2
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.5
sox==1.4.1
soxr==0.3.6
SQLAlchemy==2.0.20
stack-data==0.6.2
sympy==1.12
terminado==0.17.1
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchelastic==0.2.2
torchmetrics==1.1.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
triton==2.0.0
typing_extensions==4.7.1
uri-template==1.3.0
urllib3==2.0.4
Wave==0.0.2
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.2
Werkzeug==2.3.7
wget==3.2
widgetsnbextension==4.0.8
yarl==1.9.2
